/* styles.css */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}
body {
  /* 4. Add accessible line-height */
  /* line-height: 1.5; */
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
ul, li {
    list-style: none;
}
ul {
  padding: 0;
}

/* after reset */
/* variables */
:root {
    --svg-size: 1.75rem;
    --min-width: 320px;

}

/* overall layout */
html,body {
  height: 100%;
}
body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    width: 20%;
    flex: none;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 1rem 0 0 0;
}
.header {
    display: flex;
    justify-content: space-evenly;
}

.project-list-header {
  display: flex;
  padding: 0 0 0 0.5rem;
}

.projects {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}
.content {
    flex: 1 1 auto;
}
.project {
  margin: 2rem 2rem 0 2rem;
}
.project-header {
  display: flex;
  justify-content: space-between;
}
#new-task {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.project-body {
  margin-top: 2rem;
}
.project-body > h3 {
  border-bottom: 4px solid darkgrey;
}
.task-list {
  margin: 1rem 2rem;
}

.task-header {
  display: flex;
  justify-content: space-between;

}
.task-body {
  margin: 1rem 2rem;
}
/* colors and styles */
.sidebar {
  background-color: rgb(235, 235, 235);
}

button {
  background: none;
  border: none;
  cursor: pointer;

}
svg {
  width: var(--svg-size);
  height: var(--svg-size);
}
.resize-handle {
    width: 5px;
    cursor: ew-resize;
}

/* debug */
