/* styles.css */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}
body {
  /* 4. Add accessible line-height */
  /* line-height: 1.5; */
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
ul, li {
    list-style: none;
}
ul {
  padding: 0;
}

/* after reset */
/* variables */
:root {
    --svg-size: 1.75rem;
    --min-width: 320px;
  
    --sidebar-background: rgb(235, 235, 235);
    --pill-button-border-radius: 9999px;

}

/* overall layout */
html,body {
  height: 100%;
}
body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.sidebar{
    width: 20%;
    min-width: max-content;
    flex: none;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 1rem 0 0 0;
}
.header {
    display: flex;
    justify-content: space-evenly;
}

.project-list-header {
  display: flex;
  padding: 0 0 0 0.5rem;
}

.projects {

  display: flex;
  flex-flow: column;
}
.projects button {
  padding: 0.25rem 1rem;

}
.projects button:hover {
  border-bottom: var(--sidebar-background) 0.25rem solid;
  font-weight: bold;
}
.project-content {
    flex: 1 1 auto;
}
.project {
  margin: 2rem 2rem 0 2rem;
}
.project-header {
  display: flex;
  justify-content: space-between;
}
.new-task-button,
.remove-project-button
{
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: var(--pill-button-border-radius);
  padding: 0.25rem 1rem;
}
#new-project-button {
  cursor: pointer;
  border-radius: var(--pill-button-border-radius);
  flex: none;
}
#new-project-button:hover {
  background-color: #ccc;
}
.new-task-button:hover,
.remove-project-button:hover {
  border-bottom: #ccc 0.25rem solid;
}
.project-body {
  margin-top: 2rem;
}
.project-body > h3 {
  border-bottom: 4px solid var(--sidebar-background);
}
/* tasks styles */
.task-list {
  margin: 1rem 2rem;
}
/* collapsible button holds task title */
.task {
  border-radius: 18px;
}
.task-header {
  border-radius: inherit;
}
button.collapsible {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: inherit;
  padding: 0.25rem 1rem;
}
.active, button.collapsible:hover {
  background-color: #ececec;
}
.task-body {
  padding: 0 1rem;
  max-height: 0;
  overflow:hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fcfcfc;
}
.task-body-content {
  padding: 0.5rem 0;
  display: flex;
}
.task-info-container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-content: space-around;
}
.task-info-row {
  display: flex;
  gap: 0.5rem;
}
.task-body .button-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}
.task-body button {
  border: white 2px solid;
  padding: 0.1rem 1rem;
  border-radius: var(--pill-button-border-radius);
  font-weight: bold;
  box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.3);
}
.property-key {
  font-weight: bold;
}
/* newproject dialog layout and styles */
#new-project-dialog > .dialog-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

/* form layout and styles */
dialog {
  margin: auto;
  border: none;
  background: none;
}
.dialog-content {
  padding: 1.5rem 3rem;
  border-radius: 16px;
  background-color: var(--sidebar-background);
     box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.3);
}
form {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.top-of-form,
form .button-container,
#confirm-dialog .button-container,
#new-project-dialog .button-container {
  display: flex;
  justify-content: space-between;

}
.form-fields {
  display: flex;
  gap: 2rem;
}
.form-fields > label {
  flex: 1;
}
label {
  display: flex;
  flex-flow: column nowrap;
}
.add-to-checklist-fields {
  display: flex;
  gap: 1rem;
}
.add-to-checklist-fields > input{
  flex: 1;
}
.checklist-item {
  display: flex;
}
.checklist-content {
  flex: 1;
}

form button:not(.svg-button),
#confirm-dialog button,
#new-project-dialog button {
  border: white 2px solid;
  padding: 0.25rem 2rem;
  border-radius: var(--pill-button-border-radius);
  font-weight: bold;
  box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.3);
  
}
textarea {
  resize: none;
  padding: 0.5rem;
}
select {
  height: 50%;
  margin-top: 0.5rem;
}

.checklist-content,
input,
textarea,
select {
  border-radius: 6px;
  background-color: white;
  padding: 0.25rem 0.5rem;
}

input,
textarea,
select {
  border: 1px solid #ccc;
}
/* confirm dialog layout and styles */
#confirm-dialog .dialog-content {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

/* colors and styles */
.sidebar {
  background-color: var(--sidebar-background);
}

button {
  background: none;
  border: none;
  cursor: pointer;

}
svg {
  width: var(--svg-size);
  height: var(--svg-size);
  flex: none;
}
.resize-handle {
    width: 5px;
    cursor: ew-resize;
}


/* debug */
